{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cronjob</title>
</head>
<body>
<div class="container" id="main">
    <div class="page-header"><h1 class="title">Cronjob erstellen</h1></div>
    <p>Füllen Sie das folgende Formular aus, um einen Cronjob anzulegen. Es werden sowohl http- als auch https-URLs
        unterstützt. Falls die URL mit HTTP-Authentifizierung gesichert ist (z.B. ".htaccess"-Passwortschutz),
        hinterlegen Sie bitte auch die entsprechenden Zugangsdaten, damit wir die Webseite korrekt abrufen können.</p>
    <p>Hinweis: Weitere erweiterte Einstellungen für Ihren Cronjob können Sie nach dem Anlegen vornehmen, indem Sie den
        Job bearbeiten.</p><br>

    <div class="card">
        <div class="card-body">
            <h3 class="titleAdress">Titel, Adresse</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="title" placeholder="Titel">

                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="url" placeholder="https://">
                </div>
            </form>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <h3 class="authentification">Erfordert HTTP-Authentifizierung</h3>
            <form>
                <div class="form-group">
                    <label for="userName">Benutzername</label>
                    <input type="text" class="form-control" id="userName" placeholder="Benutzername">
                </div>
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <input type="text" class="form-control" id="password" placeholder="Passwort">
                </div>
            </form>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <h3 class="execution">Ausführung</h3>
            <div class="row">
                <div class="col ml-4">
                    <input class="form-check-input" type="radio" name="timeInterval" value="option1" checked>
                    <span>Alle</span>
                    <input type="number" min="1" max="60">
                    <span> Minute(n)</span>
                </div>
            </div>
            <div class="row">
                <div class="col ml-4">
                    <input class="form-check-input" type="radio" name="timeInterval" value="option2">
                    <span>Jeden Tag um </span>
                    <input type="number" min="1" max="23">
                    <span> : </span>
                    <input type="number" min="0" max="59">
                </div>
            </div>
            <div class="row">
                <div class="col ml-4">
                    <input class="form-check-input" type="radio" name="timeInterval" value="option3">
                    <span>Immer am </span>
                    <input type="number" min="1" max="31">
                    <span> des Monats um </span>
                    <input type="number" min="1" max="23">
                    <span> : </span>
                    <input type="number" min="0" max="59">
                </div>
            </div>

            <div class="row">
                <div class="col ml-4">
                    <input class="form-check-input" type="radio" name="timeInterval" value="option4">
                    <span>Benutzerdefiniert</span>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            <h3 class="messages">Benachrichtigungen</h3>
            <p>Mich per E-Mail benachrichtigen bei:</p>
            <div class="row">
                <div class="col ml-4">
            <input class="form-check-input" type="radio" name="message">
                    <span>Fehlschlag des Jobs</span>
                </div>
            </div>
            <div class="row">
                <div class="col ml-4">
            <input class="form-check-input" type="radio" name="message">
                    <span>erfolgreichem Aubruf nach vorherigem Fehlschlag</span>
                </div>
            </div>
            <div class="row">
                <div class="col ml-4">
            <input class="form-check-input" type="radio" name="message">
                    <span>automatische Deaktivierung wegen zu vieler Fehlschläge</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<br>
<footer>
    <p>Thank you for using this Cronjob Template :)</p>
</footer>
</html>