body{
    padding-left: 30px;
}
#main{
    width: 80%;
}
.card-body{
    border-width: 1px;
    border-style: solid;
    border-color: lightgreen;
    padding: 0px 15px 10px 15px;
    background-color: honeydew;
}
footer{
    padding-left: 200px;
}
h3{
    background-color: honeydew;
}

