{% load static %}
<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta charset="UTF-8">
    <!--Import CSS-File and Bootstrap-->
         <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--Header Navigation-->
   <nav class="navbar navbar-light" style="background-color: #0B0B61;">
        <div class="collapse navbar-collapse" id="navbarMenu">
            <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
            <span>Login</span>
            <span>Cron-Job></span>
                   </div>
   </div>
   </nav>

<!--Footer base-->
{% block content %} {% endblock content %}
<footer>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <span>Céline Hofer</span>
  </div>
</footer>
</html>